# If not set, will default to dev
# ENV_NAME=

# DEBUG will always be True
# DJANGO_DEBUG=

# If not set, will use Sqlite.Huey
# REDIS_URL=redis://

# If not set, will use /src/db.sqlite
# DATABASE_URL=postgres://db_usr:pw@localhost:5432/db_pg

# If not set, will use a randomly generated secret
# DJANGO_SECRET_KEY=

# Will always use a fixed list
# DJANGO_ALLOWED_HOSTS=

# If not set, will use default
# EMAIL_RECIPIENT=recipient-email-address-for-contact-form
# EMAIL_SENDER=sender-email-address-for-transactional-emails-configured-with-postmark
# DEFAULT_FROM_EMAIL=

# If not set, will default to stdout
# POSTMARK_API_KEY=postmark-api-key-from-postmarkapp.com-for-transactional-emails

# If not set, social authentication will not work
# GOOGLE_ID=google-local-id
# GOOGLE_KEY=google-local-secret
# GITHUB_ID=github-local-id
# GITHUB_KEY=github-local-secret

# If not set, remote image storage will not work, cloudflare images as storage class
# CF_ACCT_ID=cloudflare-account
# CF_IMG_TOKEN=cloudflare-secret
# CF_IMG_HASH=cloudflare-hash
