# DATABASE_URL=postgres://db_usr:pw@localhost:5432/db_pg
# ENV_NAME=test
# DJANGO_DEBUG=False
# DJANGO_SECRET_KEY=op://dev/start-django/django/secret_key
POSTMARK_API_KEY=op://dev/postmark/credential
EMAIL_RECIPIENT=op://dev/start-django/email/recipient
EMAIL_SENDER=op://dev/start-django/email/sender
DEFAULT_FROM_EMAIL=op://dev/start-django/email/default

GOOGLE_ID=op://dev/auth-local/google/id
GOOGLE_KEY=op://dev/auth-local/google/secret

GITHUB_ID=op://dev/auth-local/github/id
GITHUB_KEY=op://dev/auth-local/github/secret

CF_ACCT_ID=op://dev/cloudflare/acct_id
CF_IMG_TOKEN=op://dev/cloudflare/images/token
CF_IMG_HASH=op://dev/cloudflare/images/hash
