DJANGO_SECRET_KEY=xxx
DJANGO_ALLOWED_HOSTS=yyy
DJANGO_CSRF_TRUSTED_ORIGINS=zzz

# this must be a live working URL
REDIS_URL=redis://your-preset-redis-url

EMAIL_RECIPIENT=django@mv3.dev
EMAIL_SENDER=bot@mv3.dev
DEFAULT_FROM_EMAIL="start-django <donotreply@mv3.dev>"

# site-id in env.example.fly may be different from container-id for env.example.debug
GOOGLE_ID=google-site-id
GOOGLE_KEY=google-site-secret
GITHUB_ID=github-site-id
GITHUB_KEY=github-site-secret

CF_ACCT_ID=cloudflare-account
CF_IMG_TOKEN=cloudflare-secret
CF_IMG_HASH=cloudflare-hash

POSTMARK_API_KEY=postmark-api-key
