{% extends "base.html" %}
{% load i18n start %}
{% block title %}{% trans "Change Password" %}{% endblock title %}
{% block content %}
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    {% trans "Bad Token" as heading %}
    {% blocktrans asvar caption %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    {% include 'text/header_fragment.html' with heading=heading caption=caption %}
  {% else %}
    {% trans "Change Password" as heading %}
    {% if form %}
      {% trans "Password being reset from emailed token." as caption %}
      {% include 'text/header_fragment.html' with heading=heading caption=caption cta="account/_custom/_password_reset_from_key_cta.html" %}
    {% else %}
      {% trans 'Your password is now changed.' as caption %}
      {% include 'text/header_fragment.html' with heading=heading caption=caption %}
    {% endif %}
  {% endif %}
{% endblock content %}
