{% extends "account/email/base_message.html" %}
{% load account i18n %}

{% block content %}
  {% autoescape off %}
    {% user_display user as user_display %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
      <p>You're receiving this e-mail because user {{ user_display }} has given your e-mail address to register an account on {{ site_domain }}</p>
      <p><a type="button" href="{{ activate_url }}" target="_blank" class="rounded-md">Confirm</a></p>
    {% endblocktrans %}
  {% endautoescape %}
{% endblock %}
